*{
    padding: 0px;
    margin: 0px;
}
/*maaf jika tidak rapi,nanti akan saya lebih rapikan*/
body{
    padding: 0px;
    margin: 0px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.container{
    display: grid;
    margin: 25px auto;
    margin-left: 10px;
    margin-right: 10px;
    border: 1px solid grey;
    padding: 2px;
    box-sizing: border-box;
}
.container header{
    display: flex;
    flex-direction: row;
}
.container header h1{
    background-color: yellow;
    padding: 20px;
    display: flex;
    flex: 1.2;
}
.container header nav{
    font-size: 20px;
    margin: auto;
    display: flex;
    justify-content: center;
    text-align: center;
    line-height: 77px;
    position: sticky;
    background-color: coral;
    flex: 0.8;
}
.container header nav ul{
    list-style-type: none;
    overflow: hidden;
    text-align: center;
}
.container header nav ul li{
    float: left;
}
.container header nav ul li a{
    padding-right: 14px; 
    padding-left: 14px;
}
.container header nav ul li a:hover{
    color: rgb(129, 183, 255);
}

.post-title{
    background-color: teal;
    padding: 5px;
    padding-left: 15px
}
.post-meta{
    background-color: yellowgreen;
    flex: 0.5;
    order: 1;
    padding: 10px;
}
.post-meta ul li{
    list-style-type: none;
}
/*dibalik lainnya*/
.iklan{
    background-color: rgb(0, 255, 255);
    padding: 10px;
}
.iklan ul li {
    list-style-type: none;
}
.iklan ul li a:hover{
    color: rgb(129, 183, 255);
}
.main-content{
    background-color: grey;
    padding: 10px;
}
.main-content-img{
    background-color: pink;
    padding: 10px;
}
.sidebar{
    background-color: rgb(200,145,0);
    padding: 10px;
}
.sidebar ul li{
    list-style-type: none;
}
.sidebar ul li a:hover{
    color: rgb(129, 183, 255);
}
footer{
    background-color: rgb(140, 207, 182);
    padding: 15px;
    text-align: center;
}
.content{
    display: flex;
}
/*cont = main-content + main-content-img*/
.cont{
    flex: 1;
    order: 2;
}
/*ront = sidebar + iklan(iklan dibalik dengan lainnya)*/
.ront{
    flex: 0.6;
    order: 3;
}
/*lainnya dibalik sama iklan*/
.lainnya{
    background-color: white;
}
.contener{
    width: 800px;
    margin: 30px auto;
    display: flex;
}
/*untuk iklan*/
.kart{
    border: 2px solid #2C3333;
    border-radius: 7px;
    margin: 12px;
    flex: 1;
    overflow: hidden;
}

.kart .headar{
    background-color: #7882A4;
    height: 110px;
}

.kart .contentt{
    text-align: justify;
    padding: 20px;
    padding-bottom: 18px;
}

.kart button{
    font-family: sans-serif;
    background-color: #F76E11;
    border-radius: 7px;
    color: #FBF8F1;
    width: 200px;
}

.kart.gde{
    transform: scale(1.08);
}
/*fin*/